
---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Sobre";

const identity = {
	fistName: "Salvador",
	country: "Moçambique",
	occupation: "Web Developer",
};

const skills = ["Python", "JavaScript", "HTML", "CSS", "Django"];
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Sobre</h1>

	<div class="sobre-mim">
		<h2>Conheça-me um pouco</h2>
		<p>Meu nome é <strong>{identity.fistName}</strong></p>
		<p>Sou um desenvolvedor de <strong>{identity.occupation}</strong></p>
		<p>Sou de <strong>{identity.country}</strong></p>

		<h3>Minhas habilidades:</h3>
		<ul>
			{skills.map((skill) => (<li>{skill}</li>))}
		</ul>
	</div>
</BaseLayout>



